body {

  height: 100%;

  width: 100%;

}

#game1 {

  align-items: left;

  height: 100px;

  length: 100px;

}

#game2 {

  align-items: center;

  height: 100px;

  length: 100px;

}

#game3 {

  align-items: right;

  height: 100px;

  length: 100px;
 
}

#game4 {
  align-items: right;
  
  height: 100px;
  
  length: 100px;
  
} 

#game5 {
  align-items: right;
  
  height: 100px;
  
  length: 100px;
  
} 

#game6 {
  align-items: right;
  
  height: 100px;
  
  length: 100px;
  
}
  
 #game7 {
  align-items: right;
  
  height: 100px;
  
  length: 100px;
} 

#game8 {
  align-items: right;
  
  height: 100px;
  
  length: 100px;
  
}
  
 #game9 {
  align-items: right;
  
  height: 100px;
  
  length: 100px;
} 

#game10 {
  align-items: right;
  
  height: 100px;
  
  length: 100px;
  
}
  
 #game11 {
  align-items: right;
  
  height: 100px;
  
  length: 100px;
} 

#game12 {
  align-items: right;
  
  height: 100px;
  
  length: 100px;
  
}

#game13 {
  align-items: right;
  
  height: 100px;
  
  length: 100px;
  
}
  
 
